{% extends "vuelos/layout.html" %}


{% block  body %}
     <h1>Vuelos </h1>
     <ul>
          {% for unVuelo in vuelos %}
               <li><a href="{% url 'vuelos:vuelo' unVuelo.id %}"></a>  Vuelo {{ unVuelo.id}}: {{ unVuelo.origen }} a {{ unVuelo.destino}}</li> 
          {% endfor %}
     </ul>
{% endblock %} 