{% extends "vuelos/layout.html" %}


{% block  body %}
     <h1>Vuelos {{vuelo.id}}</h1> </h1>
     <ul>
          
               <li>Origen: {{vuelo.origen}}</li> 
               <li>Destino: {{vuelo.destino}}</li>
               <li>Duracion: {{vuelo.duracion}} horas</li>
       
     </ul>
     <a href="{% url 'vuelos:index'%}">Volver a vuelos</a>
{% endblock %} 